In [1]:
import pandas as pd
import numpy as np

In [8]:
from dateutil.relativedelta import relativedelta

In [38]:
def add_mob(anomes, meses=1):
    data = pd.to_datetime(anomes, format='%Y%m') + relativedelta(months=meses)
    return data.year*100 + data.month

def get_mes_list(inicio, fim):
    data = inicio
    lista = [data]
    while data < fim:
        data = add_mob(data)
        lista.append(data)
    return lista

In [39]:
df = pd.read_csv("../data/adult.csv")

In [44]:
rs = np.random.RandomState(32)

df['anomes'] = rs.choice(get_mes_list(202107,202306), df.shape[0])

In [45]:
df = df.sort_values(by='anomes')

In [68]:
for anomes in df.anomes.unique():
    print(anomes)
    aux = df.loc[df.anomes==anomes]
    aux.to_csv(f'../data/adult_{anomes}')

202107
202108
202109
202110
202111
202112
202201
202202
202203
202204
202205
202206
202207
202208
202209
202210
202211
202212
202301
202302
202303
202304
202305
202306

# Exercicio: treinar um modelo para previsão de income, considere que você possui todos os dados até 11/2022 para treino, teste e validação e que os dados a partir daí são dados de 'uso real', testar depois a performance nesses

In [49]:
data_dados = []
for i in range()
pd.read_csv("../data/adult_202107")

,Unnamed: 0,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,anomes
0,10229,46,Private,224559,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,35,United-States,<=50K,202107
1,30403,31,State-gov,123037,Some-college,10,Never-married,Tech-support,Not-in-family,White,Male,0,0,13,United-States,<=50K,202107
2,34469,32,Self-emp-inc,45796,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K,202107
3,37746,21,?,357029,Some-college,10,Married-civ-spouse,?,Wife,Black,Female,2105,0,20,United-States,<=50K,202107
4,34154,30,Private,123397,HS-grad,9,Never-married,Handlers-cleaners,Unmarried,White,Female,0,0,40,United-States,<=50K,202107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980,36987,41,Private,185132,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,United-States,<=50K,202107
1981,24642,47,Self-emp-inc,105779,Bachelors,13,Never-married,Sales,Own-child,White,Male,0,0,40,United-States,>50K,202107
1982,32827,34,Private,70466,Assoc-voc,11,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K,202107
1983,38544,20,Private,57898,12th,8,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K,202107
1984,750,41,Federal-gov,46366,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,Black,Female,0,0,50,United-States,>50K,202107

In [121]:
df_dados.dtypes

Unnamed: 0          int64
age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
anomes              int64
dtype: object

In [71]:
from datetime import date

In [108]:
def addmes(data):
    if data%100 == 12 :
        data += 89
    else:
        data +=1
    return data

In [111]:
datas = []
inicio = 202106
final = 202206
data = inicio

while data < final:
    data = addmes(data)
    datas.append(data)
datas

[202107,
 202108,
 202109,
 202110,
 202111,
 202112,
 202201,
 202202,
 202203,
 202204,
 202205,
 202206]

In [184]:

df_dados = pd.DataFrame()
for data in datas:
    df_aux = pd.read_csv(f'../data/adult_{data}.csv')
    df_dados = pd.concat([df_dados,df_aux],ignore_index=True)
df_dados.rename({df_dados.columns[0] : "id"},axis=1,inplace=True)
df_dados

,id,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,anomes
0,10229,46,Private,224559,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,35,United-States,<=50K,202107
1,30403,31,State-gov,123037,Some-college,10,Never-married,Tech-support,Not-in-family,White,Male,0,0,13,United-States,<=50K,202107
2,34469,32,Self-emp-inc,45796,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K,202107
3,37746,21,?,357029,Some-college,10,Married-civ-spouse,?,Wife,Black,Female,2105,0,20,United-States,<=50K,202107
4,34154,30,Private,123397,HS-grad,9,Never-married,Handlers-cleaners,Unmarried,White,Female,0,0,40,United-States,<=50K,202107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24608,27941,45,Federal-gov,155659,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K,202206
24609,28093,33,Private,340332,Bachelors,13,Separated,Exec-managerial,Not-in-family,Black,Female,0,0,45,United-States,<=50K,202206
24610,25162,36,Self-emp-not-inc,257250,7th-8th,4,Never-married,Farming-fishing,Own-child,White,Male,0,0,75,United-States,<=50K,202206
24611,10666,71,?,158437,5th-6th,3,Married-civ-spouse,?,Husband,White,Male,0,0,40,Hungary,<=50K,202206
24612,1616,65,Private,173483,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,35,United-States,<=50K,202206

In [120]:
df_dados.workclass.mode(0)[0]

'Private'

In [118]:
df_dados.loc[df_dados.workclass=='?', 'workclass'] = df_dados.workclass.mode(0)

3        ?
54       ?
65       ?
70       ?
102      ?
        ..
24534    ?
24538    ?
24552    ?
24557    ?
24611    ?
Name: workclass, Length: 1428, dtype: object

In [115]:
pd.read_csv(f'../data/adult_{addmes(df_dados.anomes.max())}.csv')

,Unnamed: 0,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,anomes
0,46028,41,Self-emp-not-inc,44006,Assoc-voc,11,Divorced,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K,202207
1,16920,52,Self-emp-not-inc,289436,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,202207
2,11508,36,Private,37778,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,<=50K,202207
3,33600,27,Private,209472,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States,<=50K,202207
4,32855,24,Private,228772,5th-6th,3,Never-married,Machine-op-inspct,Other-relative,White,Female,0,0,40,Mexico,<=50K,202207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2041,5106,21,Private,183789,HS-grad,9,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States,<=50K,202207
2042,48147,34,Private,208353,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K,202207
2043,417,37,State-gov,67083,Some-college,10,Married-civ-spouse,Prof-specialty,Other-relative,Asian-Pac-Islander,Male,0,0,40,Cambodia,<=50K,202207
2044,5648,29,Private,131045,Assoc-voc,11,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,202207
2045,8655,23,Private,249087,Bachelors,13,Never-married,Tech-support,Own-child,White,Female,0,0,40,United-States,<=50K,202207

In [198]:
from sklearn.impute import SimpleImputer
imp_mode = SimpleImputer(missing_values='?', strategy='most_frequent')
imp_mode.fit(pd.DataFrame(df_dados['workclass']))
imp_mode.transform(pd.DataFrame(df_dados['workclass']))

array([['Private'],
       ['State-gov'],
       ['Self-emp-inc'],
       ...,
       ['Self-emp-not-inc'],
       ['Private'],
       ['Private']], dtype=object)

In [208]:
df_int64 = pd.DataFrame(df_dados.dtypes)
df_int64.loc[df_tmp[0]=='int64'].index

Index(['id', 'age', 'fnlwgt', 'educational-num', 'capital-gain',
       'capital-loss', 'hours-per-week', 'anomes'],
      dtype='object')

In [211]:
df_objs = pd.DataFrame(df_dados.dtypes)
objs = df_objs.loc[df_tmp[0]=='object'].index

In [212]:
for coluna in objs:
    print(df_dados[coluna].unique()) # os faltantes são '?'

['Private' 'State-gov' 'Self-emp-inc' '?' 'Self-emp-not-inc' 'Local-gov'
 'Federal-gov' 'Without-pay' 'Never-worked']
['HS-grad' 'Some-college' 'Doctorate' 'Prof-school' 'Masters' 'Bachelors'
 '7th-8th' '10th' 'Assoc-acdm' 'Assoc-voc' '12th' '11th' '9th' '1st-4th'
 '5th-6th' 'Preschool']
['Married-civ-spouse' 'Never-married' 'Divorced' 'Widowed' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']
['Craft-repair' 'Tech-support' 'Exec-managerial' '?' 'Handlers-cleaners'
 'Prof-specialty' 'Protective-serv' 'Machine-op-inspct' 'Sales'
 'Farming-fishing' 'Other-service' 'Adm-clerical' 'Transport-moving'
 'Priv-house-serv' 'Armed-Forces']
['Husband' 'Not-in-family' 'Wife' 'Unmarried' 'Own-child' 'Other-relative']
['Black' 'White' 'Amer-Indian-Eskimo' 'Asian-Pac-Islander' 'Other']
['Male' 'Female']
['United-States' 'Philippines' '?' 'Dominican-Republic' 'Iran' 'Japan'
 'Mexico' 'El-Salvador' 'Puerto-Rico' 'Greece' 'Germany' 'Vietnam'
 'Cambodia' 'China' 'Haiti' 'Canada' 'France' 'Hong' 'Guatemala'
 'Portugal' 'Peru' 'England' 'India' 'South' 'Cuba' 'Yugoslavia'
 'Columbia' 'Poland' 'Taiwan' 'Laos' 'Italy' 'Nicaragua' 'Ecuador'
 'Thailand' 'Jamaica' 'Hungary' 'Trinadad&Tobago' 'Scotland' 'Ireland'
 'Honduras' 'Outlying-US(Guam-USVI-etc)' 'Holand-Netherlands']
['<=50K' '>50K']

In [221]:
df_inp = pd.DataFrame()
for coluna in objs:
    imp_mode = SimpleImputer(missing_values='?', strategy='most_frequent')
    imp_mode.fit(pd.DataFrame(df_dados[coluna]))
    df_inp[coluna]=imp_mode.transform(pd.DataFrame(df_dados[coluna]))
df_inp

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series